body {
    background-color: #f0efed !important;
}

.cs-transition {
    transition: .5s !important;
}

/*Background*/
.cs-bg-navbar {
    background-color: #1a2456 !important;
}

.cs-bg-image {
    background: url('https://images.pexels.com/photos/542552/pexels-photo-542552.jpeg') no-repeat center bottom / 100% auto;
}

/*Border*/
.cs-bc {
    border-color: rgb(239, 194, 179) !important;
}

/*Font*/
.cs-tc-main {
    color: rgb(239, 194, 179) !important;
}

.cs-fs-7 {
    font-size: 13px !important;
}

.dropdown-toggle {
    color: rgb(239, 194, 179) !important;
    transition: .5s !important;
}

.dropdown-toggle:hover {
    color: white !important;
}

/*Buttons*/
.cs-navbar-toggle {
    color: rgb(239, 194, 179) !important;
    border-color: rgb(239, 194, 179) !important;
}

.cs-btn-nav:hover {
    color: #ff8b68 !important;
}

.cs-btn {
    background-color: rgb(239, 194, 179) !important;
    color: #1a2456 !important;
}

.cs-btn:hover {
    background-color: #1a2456 !important;
    color: rgb(239, 194, 179) !important;
}

/*Form*/
.cs-form::placeholder {
    color: lightgrey !important;
}